VITE_USER_API_URL=http://localhost:8081
VITE_PRODUCT_API_URL=http://localhost:8082
VITE_AUCTION_API_URL=http://localhost:8083
VITE_CHAT_API_URL=http://localhost:8084
VITE_CHAT_WS_URL=ws://localhost:8084
